---
import Layout from '../layouts/Layout.astro';
const title = "Sobre Mi";
const identity = {
  name: "Vicent Lozano",
  location: "Valencia, España",
  role: "Desarrollador web",
  hobbies: ["leer", "escuchar música", "ver series","pescar"]};
const skills =  ["HTML", "CSS", "JavaScript", "Node.js", "Git","Python","Astro"];
import Habilidades from '../components/Habilidades.astro';

---

<Layout title={title}>
	 <main class="contenido">
		<section class="containergrid-6">
			
				<p class="definition">Me llamo {identity.name}, soy de {identity.location}.</p>
				<p class="definition">Soy un desarrollador web que le encanta aprender cosas nuevas y que le apasiona la tecnología.</p>
				<p class="definition">Me gusta mucho el mundo de la programación</p>
				<p class="definition">Me considero una persona muy curiosa y autodidacta.</p>
				<p class="definition">Mis aficiones son: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}, {identity.hobbies[3]}.</p>
			
		</section>
		<article class = "habilidades">
			<Habilidades/>
			
		</article>

	 </main>
</Layout>

<style>
	
	.definition:nth-of-type(1) {animation-delay: 1.5s;}
	.definition:nth-of-type(2) {animation-delay: 1s;}
	.definition:nth-of-type(3) {animation-delay: 0.3s;}
	.definition:nth-of-type(4) {animation-delay: 1s;}
	.definition:nth-of-type(5) {animation-delay: 1.5s;}

	.containergrid-6{
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(236px,1fr));
		gap:30px;
		width:100%;
		justify-content: center;
		margin-top: 100px;
		padding: 30px;
		
		
		
	
	}
	@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
	.definition{
		opacity: 0;
		text-align: center;
		box-sizing: border-box;
		transition-duration: 1s;
		transition-property: transform, background, box-shadow;
		opacity: 0;
   		animation: fadeIn 1s forwards;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid gray;
		


	}
	.definition p{
		
	}
	.definition:hover{
		transform:scale(1);
		background: opacity(0.5);
		box-shadow: 0 0 10px pink;
	
	}
	
	
		
	
	
