---
import Layout from '../layouts/Layout.astro';
const title = "Sobre Mi";
const identity = {
  name: "Vicent Lozano",
  location: "Valencia, España",
  role: "Desarrollador web",
  hobbies: ["leer", "escuchar música", "ver series","pescar"]};
const skills =  ["HTML", "CSS", "JavaScript", "Node.js", "Git","Python","Astro"];
import  rhtml5 from '../components/Icons/html5.png'
import  rpython from '../components/Icons/python.png'
import  rastro from '../components/Icons/astro.png'
import  rnode from '../components/Icons/nodeJS.png'
import  rjs from '../components/Icons/javascript.png'
import  rcss from '../components/Icons/css3.png'
import  hubgit from '../components/Icons/Giticon.png'

import { Image } from 'astro:assets';
---

<Layout title={title}>
	 <main class="contenido">
		<section class="containergrid-6">
			<article class = "definition">
				<p>Me llamo {identity.name}, soy de {identity.location}.</p>
			</article>
			<article class = "definition">
				<p>Soy un desarrollador web que le encanta aprender cosas nuevas y que le apasiona la tecnología.</p>
			</article>
			<article class = "definition"> 
				<p>Me gusta mucho el mundo de la programación y el desarrollo web, y me encanta aprender cosas nuevas.</p>
		
			</article>
			<article class="definition">
				
				<p>Me considero una persona muy curiosa y autodidacta.</p>
			</article>
			<article class = "definition">
					<p>Mis aficiones son: {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}, {identity.hobbies[3]}.</p>
				
			</article>
		</section>
		<article class = "habilidades">
			<h1>Mis habilidades</h1>
			<section class="skills">
				<div class="topic">
					<Image class="imagenpe"src={rhtml5} alt="icono de html"/>
					<h4>HTML</h4>
				</div>
				<div class="topic">
					<Image class="imagenpe"src={rcss} alt="icono de html"/>
					<h4>CSS</h4>
				</div>
				<div class="topic">
					<Image class="imagenpe"src={rjs} alt="icono de html"/>
					<h4>JavaScript</h4>
				</div>
				<div class="topic">
					<Image class="imagenpe"src={rpython} alt="icono de html"/>
					<h4>Python</h4>
				</div>
				<div class="topic">
					<Image class="imagenpe"src={rastro} alt="icono de html"/>
					<h4>Astro</h4>
				</div>
				<div class="topic">
					<Image class="imagenpe"src={rnode} alt="icono de html"/>
					<h4>Node.js</h4>
				</div>
			
				
				<div class="topic">
					<Image class="imagenpe"src={hubgit} alt="icono de html"/>
					<h4>GIT</h4>
				</div>
				
				
				

			</section>
		</article>

	 </main>
</Layout>

<style>
	.definition:nth-of-type(1) {animation-delay: 1.5s;}
	.definition:nth-of-type(2) {animation-delay: 1s;}
	.definition:nth-of-type(3) {animation-delay: 0.3s;}
	.definition:nth-of-type(4) {animation-delay: 1s;}
	.definition:nth-of-type(5) {animation-delay: 1.5s;}
	.main{
		display: flex;
		flex-direction: column;
	}
	.containergrid-6{
		display: grid;
		grid-template-columns:  repeat(5, 1fr);
		text-align: center;
		gap:2rem;
		margin-left:5rem;
		margin-right:5rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		padding: 1rem;
	}
	@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
	.definition{
		opacity: 0;
		text-align: center;
		margin: 1rem auto;
		border: 1px slategrey solid;
		border-radius: 10px;
		padding:1.3rem;
		transition-duration: 1s;
		transition-property: transform, background, box-shadow;
		opacity: 0;
   		animation: fadeIn 1s forwards;
	}
	.definition:hover{
		transform:scale(1.3);
		background: black;
		box-shadow: 0 0 10px pink;
	
	}
	

	h1{
		font-size: xx-large;
		color: rgb(234, 235, 236);
		font-weight: bold;
		letter-spacing: 3px;
		justify-content: center;
		text-align: center;
	}
	.habilidades{
		display: grid;
		grid-template-rows: auto auto;
		align-items: center;
		justify-content: center;
		margin-bottom: 2rem;
		margin-top: 2rem;
	}
	.skills{
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		align-items: center;
		justify-content: center;
		gap:20px;
		margin:2rem;
	}
	.topic {
    display: flex;
    align-items: center;
    border-radius: 26px;
    border:  2px solid #eee;
	justify-content: center;
    color: #fff;
    height: 55px;
    font-size: 1rem;
    padding: 0 24px;
    position: relative;
    transition: all .3s ease;
	margin:0.3rem;}
	.imagenpe {
    width: 1.1rem;
    height: auto;
}
/* Para pantallas de menos de 600px de ancho */
@media (max-width: 600px) {
    .containergrid-6 {
        grid-template-columns: repeat(2, 1fr); /* Cambia a un grid de una sola columna */
    }

    .skills {
        grid-template-columns: repeat(2, 1fr); /* Cambia a un grid de una sola columna */
    }
	.definition:nth-of-type(1) {animation-delay: 0.5s;}
	.definition:nth-of-type(2) {animation-delay: 1s;}
	.definition:nth-of-type(3) {animation-delay: 1.5s;}
	.definition:nth-of-type(4) {animation-delay: 2s;}
	.definition:nth-of-type(5) {animation-delay: 2.5s;}
}

/* Para pantallas de entre 600px y 900px de ancho */
@media (min-width: 600px) and (max-width: 900px) {
    .containergrid-6 {
        grid-template-columns: repeat(3, 1fr); /* Cambia a un grid de tres columnas */
    }

    .skills {
        grid-template-columns: repeat(3, 1fr); /* Cambia a un grid de tres columnas */
    }
	.definition:nth-of-type(1) {animation-delay: 0.5s;}
	.definition:nth-of-type(2) {animation-delay: 1s;}
	.definition:nth-of-type(3) {animation-delay: 1.5s;}
	.definition:nth-of-type(4) {animation-delay: 2s;}
	.definition:nth-of-type(5) {animation-delay: 2.5s;}
	
}

</style>