---
import  rhtml5 from '../components/Icons/html5.png'
import  rpython from '../components/Icons/python.png'
import  rastro from '../components/Icons/astro.png'
import  rnode from '../components/Icons/nodeJS.png'
import  rjs from '../components/Icons/javascript.png'
import  rcss from '../components/Icons/css3.png'
import  hubgit from '../components/Icons/Giticon.png'

import { Image } from 'astro:assets';
---
<container class="container">
    <h1>Mis habilidades</h1>
    <div class="skills">
        <div class="topic">
            <Image class="imagenpe"src={rhtml5} alt="icono de html"/>
            <h2>HTML</h2>
        </div>
        <div class="topic">
            <Image class="imagenpe"src={rcss} alt="icono de html"/>
            <h2>CSS</h2>
        </div>
        <div class="topic">
            <Image class="imagenpe"src={rjs} alt="icono de html"/>
            <h2>JavaScript</h2>
        </div>
        <div class="topic">
            <Image class="imagenpe"src={rpython} alt="icono de html"/>
            <h2>Python</h2>
        </div>
        <div class="topic">
            <Image class="imagenpe"src={rastro} alt="icono de html"/>
            <h2>Astro</h2>
        </div>
        <div class="topic">
            <Image class="imagenpe"src={rnode} alt="icono de html"/>
            <h2>Node.js</h2>
        </div>
        <div class="topic">
            <Image class="imagenpe"src={hubgit} alt="icono de html"/>
            <h2>GIT</h2>
        </div>
        
        
        

    </div>
</container>
<style>
    .imagenpe{
        width:43px;
        height: 30px;
        padding-right:8px;
        padding-left: 7px;
        }
    
    
    .skills{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(190px, 1fr));
        height:100%;
        width:100%;
        gap: 20px;
        justify-content: center;
        place-items: center;
    }
    .topic{
        display:flex;
        align-content: center;
        align-items: center;
        transition-property: color;
       
    }
    h2{
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        opacity: 90%;
        padding-right:7px;
    }
    
    
    .topic:hover{
        color: rgb(0, 140, 255);
        transition-duration: 0.5s;
    }
    
    h1{
        letter-spacing: 0.2rem;
        font-size: 1.5rem;
        font-weight: bold;
        opacity: 90%;
        margin-bottom: 3rem;
        margin-top: 9rem;
        text-align: center;
        
    }
    

</style>